body {
  position: relative;
}
.login {
  background-image: url(../../../public/bg.png);
  /* height: 100vh; */
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
